/*Style pour smartphone */
.detail-card{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 90%;
    padding: 3%;
    box-shadow: 10px 5px 5px #373528;
    top: 10%;
    right: 5%;
    z-index: 5;
}
.overlay { /* background qui recouvre le fond */
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
}

/* button close-detail*/
.close-detail{
    margin: 1em auto;
    display:block;
    text-align:center;
    padding: 0.7em;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #373528;
}
.close-detail:hover {
    color:white;
    font-weight: bold;
    background-color: #373528;
    border-radius: 5px;
    box-shadow: none;
}

/*Style pour ordinateur Ecran taille normal*/
@media screen and (min-width:960px) {
.event-detail{
    display:flex;
    justify-content:space-between; 
}
.event-detail img{
width:40%;
}
.event-description{
    width:38%;
    padding:1%;
}
.event-infos{
    background-color: rgba(0, 0, 0, 0.3);
    width:20%;
    padding:1%;
    border-radius: 8px;
}
}