/*style général pour le dernier evenement*/
.none{
    display:none;
}
.event-content ul{
    font-size: 1.5em
}

.event-content img{
    width: 100%;
    margin: auto;
    padding: 0 2%;
}
.event-content ul{
    margin-top: 0px;
}

  /*Style pour ordinateur Ecran taille normal*/
@media screen and (min-width:960px) {
    .event-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .event-content img {
        display:block;
        width:50%;
    }
    .event-content ul {
        display:block;
        width:50%;
    }
  }