/* //revoir jusqu'a ligne ul pour responsive */
.event-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.event-content img {
    display:block;
    width:45%;
}
.event-content ul {
    display:block;
    width:45%;
}

button {
    margin: 1em auto;
    display:block;
    text-align:center;
    padding: 0.7em;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
}

button:hover {
    color:white;
    font-weight: bold;
    background-color: #373528;
    border-radius: 5px;
}