@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");

* {
    box-sizing: border-box;
}

.page {
    background-image: url(assets/img-paris-1-bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#373528;
  }

h1, h2, h3{
  text-align: center;
}
h1{
  font-size:3em;
}
h2{
  font-size:2.5em;
}
h3{
  font-size:2em;
  margin: 0.5em;
}
.main-content{
  margin:auto;
  max-width:80%;
  background-color: rgba(255, 255, 255, 0.7);
}
a{
  text-decoration: none;
  color:#373528;
}
li{
  list-style: none;
}
ul{
  padding: 0;
}

p{
  margin:0.1em 0;
}

